.a-form,
div.a-form-builder
{
position: relative;
display:block;
float:left;
width: 100%;
}

div.a-form-builder
{
	margin: 10px 0;
}

.a-form-builder .a-form-row
{
	position: relative;
	display: block;
	float: left;
	width: 100%;
	padding: 15px 0;
	margin: 0;
	border-bottom: 1px solid #e5e5e5;
}

.a-form-builder.adding .a-form-row
{ /* Adding */
	padding-bottom:0;
	border-bottom:none;
}

.a-form-builder .a-form-row li
{
	float: left;
	margin: 0;
}

.a-form-builder .a-form-row li.edit,
.a-form-builder .a-form-row li.delete
{
	margin-left: 2px;
	float: right;
}

.a-form-builder label
{
	float: left;
	width: 120px;
	height: 100%;
	text-transform: none !important;
}

.a-form-builder.editing label
{ /* Editing */
	width: 100px;
	margin-left: 20px;
}

.a-form-builder input,
.a-form-builder select,
.a-form-builder textarea
{ 
	float: left;
	margin-left: 20px;
	padding: 3px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	border: 1px solid #ddd;
	vertical-align: middle;	
	width: 278px;
}

.a-form-builder.editing input,
.a-form-builder.editing textarea
{ /* Editing */
	width: 198px;
}

.a-form-builder input.a-submit
{
	padding: 0 4px;
	font-size: 12px;
	border: none;
	margin: 0;
}

.a-form-builder select,
.a-form-builder input.a-submit, 
.a-form-builder input[type="radio"],
.a-form-builder input[type="checkbox"],
.a-form-builder input.radio,
.a-form-builder input.checkbox {
width: auto !important;
}

.a-form-builder input[type="hidden"] {
display: none !important;
}

.a-form-builder.editing select
{ /* Editing */
	width: 204px !important;
}



.a-form-builder.editing-field,
.a-form-builder.adding
{
	position: relative;
}

.a-form-builder.editing-field .a-form-row,
.a-form-builder.adding .a-form-row
{
	width: auto;
	display: block;
	float: left;
	border: none;
}

.a-form-builder.editing-field label,
.a-form-builder.adding label
{
display: none;
}

.a-form-field-required
{
float: right;
font-size: 11px;
background-color: #944;
color: #fff;
width: 14px;
height: 14px;
line-height: 14px;
margin: 3px 0;
overflow: hidden;
text-indent: -9999px;
-moz-border-radius: 7px !important;
-webkit-border-radius: 7px !important;
border-radius: 7px !important;
}

.a-form-field-required:hover
{
	text-indent: 0;
	width: auto;
	padding: 0 4px;
	cursor: default;
}

.a-form-builder.editing .a-form-row .a-form-field
{
	float: left;
	position: relative;
	display: inline;
	width: 580px;
	margin: 0 0 0 10px;
}

.a-form-builder.editing .a-form-row .a-form-field li.options
{
	float: left;
	width: 278px;
}

.a-form-builder.editing .a-form-row .a-form-field li.options li.option
{
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 5px 0;	
}

.a-form-builder.editing .a-form-row .a-form-field.select li.options li.option
{
	position: relative;
	margin: 0 0 5px 0;
	left: 20px;
	width: 258px;		
}

.a-form-builder.editing .a-form-row .a-form-field li.options li.option input[type="checkbox"],
.a-form-builder.editing .a-form-row .a-form-field li.options li.option input[type="radio"]
{
	margin-top: 3px;
	width: auto;
}
.a-form-builder.editing .a-form-row .a-form-field li.options li.option input
{
	margin: 0;
	width: 92px;
}

.a-form-builder.editing .a-form-row .a-form-field li.options li.option label
{
	width: 105px;
}

.a-form-builder.editing .a-form-row .a-form-field li.options li.option span
{
	color: #999;
}

.a-form-builder.editing .a-form-row .a-form-field li.options li.option.new label input
{
}

.a-form-builder.editing .a-form-row .a-form-field li.options li.option a.a-delete,
.a-form-builder.editing .a-form-row .a-form-field li.options li.option a.a-add,
.a-form-builder.editing .a-form-row .a-form-field li.options .a-submit
{
	float: right;
}

.a-form-builder.editing .a-form-row .a-form-field li.options .a-submit
{
	margin: 10px 0 0;
}


.a-form-builder.editing .a-form-row .a-form-field.select select
{
	margin-bottom: 5px;
}

.a-form-builder.editing .a-form-row .a-form-field.select li.options li.option label
{
	margin: 0 5px 0 0;
	width: auto
}

.a-form-builder.adding .drag
{
	display: none;
}

.a-form-builder.editing-field .a-form-layout
{
	float: left;
}

.a-form-builder.editing-field .a-form-field.type,
.a-form-builder.adding .a-form-field.type
{
position: absolute;
left: 170px;
top: 0;
width: 200px;	
}

.a-form-builder.editing-field .a-form-field.label,
.a-form-builder.adding .a-form-field.label
{
width: 100px;
margin-left: 20px;	
}

.a-form-builder.editing-field .a-form-field.type select,
.a-form-builder.adding .a-form-field.type select,
.a-form-builder.editing-field .a-form-field.label input,
.a-form-builder.adding .a-form-field.label input
{
	margin: 0;
	width: 100% !important;
}

.a-form-builder.editing-field .a-form-field.required,
.a-form-builder.adding .a-form-field.required
{
position: absolute;
left: 380px;
top: 0;
width: 70px;
height: 22px;
padding: 0;
}

.a-form-builder.editing-field .a-form-field.required label,
.a-form-builder.adding .a-form-field.required label
{
	display: block;
	width: auto;
	font-size: 11px;
	position: absolute;
	top: 0;
	left: 20px;
	line-height: 22px;
	margin: 0;
}

.a-form-builder.editing-field .a-form-field.required input,
.a-form-builder.adding .a-form-field.required input
{
	margin:3px 0;
}

.a-form-builder.editing-field .a-form-field.submit,
.a-form-builder.adding .a-form-field.submit
{
	position: absolute;
	top: 0;
	right: 0;
	width: 105px;
}

.a-form-builder.editing-field .a-form-field.submit li,
.a-form-builder.adding .a-form-field.submit li
{
	float: left;
	display: inline;
}

.a-form-builder.editing-field .a-form-field.submit li.cancel,
.a-form-builder.adding .a-form-field.submit li.cancel
{
	margin: 0 0 0 3px;
}

.a-form-builder.editing-field .a-form-field.submit .a-submit,
.a-form-builder.adding .a-form-field.submit .a-submit
{
	margin: 0;
}


.a-form-builder .a-form-row ul.select_checkbox
{
	float: left;
	clear: both;
}

.a-form-builder .a-form-row legend
{
	margin-bottom: 10px;
}

.a-form-builder .a-form-row fieldset
{
	border: none;	
}

.a-form-builder .a-form-row fieldset ul li
{
	margin-bottom: 10px;
}

.a-form-builder .a-form-row .radio_list
{
}


.a-form-builder .a-form-row .radio_list li
{
	float: left;
	position: relative;
	width: 90px;
	margin: 0 0 10px 0;
}

.a-form-builder .a-form-row .checkbox
{
	float: left;
	width: 278px;
	position: relative;
	margin: 0 0 10px 140px;
	clear: both;
}

.a-form-builder .a-form-row ul.select_checkbox .checkbox
{
	margin: 0 0 5px 20px;
}

.a-form-builder .a-form-row .radio_list li input,
.a-form-builder .a-form-row .checkbox input
{
	position: relative;
	float: left;
	line-height: 20px;
	margin: 3px 0 !important;
}

.a-form-builder.editing .a-form-row .a-form-field li.options li.option .radio_list li label,
.a-form-builder.editing .a-form-row .a-form-field li.options li.option .checkbox label
{
width: auto;
position: absolute;
top: 0;
left: 20px;
line-height: 20px;
margin: 0;
}

.a-form-builder.editing .a-form-row .a-form-field.address li
{
	clear: left;
	margin-bottom: 10px;
}

a.a-settings-button {
display: none;
}

.error_list
{
	float: left;
	display: inline;
	width: 278px;
	margin: 0 0 10px 0;
	margin-left: 140px;
}

.a-drag.nobg
{
	position: relative;
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
	border-radius: 10px !important;
}



.a-add-layout-button
{
	margin: 20px 0;
}

.ui-sortable-helper
{
	background: #fff;
	padding: 15px 10px !important;
	margin-left: -10px !important;
	border: none !important;
	-moz-box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;
	-webkit-box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;
	-opera-box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;
	-khtml-box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;	
	box-shadow:rgba(0,0,0,0.25) 0px 0px 10px;	
}


/* Overrides to make the Form Admin List View Take up ALL of the space*/

.a-form-admin.index #content-wrapper
{
	width: 100%;
	margin: 20px 0;
}

.a-form-admin.index #content
{
	width: 100%;
	overflow: hidden;
	margin-right: 20px;
}

.a-form-admin.index #content .column-two,
.a-form-admin.index #content .column-two .column-padding
{
}

.a-form-admin.index #content h2
{
	margin: 0 0 20px 20px;
}

.a-form-admin.index #content .column-one
{
	position: relative;
	float: left;
	clear: none;
	width: 220px;
	margin: 0 0 0 20px;
	z-index: 2;
}

.a-form-admin.index #content .column-two
{
	position: relative;
	float: right;
	width: 99%;
	margin-left: -270px;
	left: -1%;
	z-index: 1;
}

.a-form-admin.index #content .column-two .box.survey
{
	display:block;
	float:none;
	width: auto;
	margin-left:270px;
	overflow:hidden;
}

.a-form-admin.index #content .column-two .column-padding
{
	margin: 10px;
	width: auto !important;
}

.a-form-admin.index #a-admin-container,
.a-form-admin.index #a-admin-container #a-admin-content
{
	width: 100%;
}

.a-form-admin.index #a-admin-container .a-admin-row.even
{
	background-color: #eee;
}


/* admin/a_form */

.a-form-list,
.a-form-list .a-form-list-item
{
	position: relative;
	float: left;
	clear: both;
	display: inline;
	width: 100%;
/*	margin: 0 0 10px 0;*/
}

.a-form-list .a-form-list-item li
{
	float: left;
	display: inline;
	margin: 0 5px 0 0;
}

/* Styling the Yes No Widget */

.a-form-field.yesNo .radio_list input,
.a-form-field.yesNo .radio_list label
{
	display: none;
}

.a-form-builder .a-form-field.yesNo .radio_list li
{
	width: auto;
	margin: 0 20px 0 0;
}

.a-form-builder.filling-out .a-form-field.yesNo .radio_list
{
	float: left;
	clear: both;
	width: 100%;
}

.a-form-builder.filling-out .a-form-field.yesNo .radio_list li
{
	float: left;
}


/* Filling Out - sequenceSuccess */

.filling-out .a-form-field label
{
	font-size: 24px;
	width: 100%;
}